<% include ../partials/header.ejs %>
    

<div class='container form-format'>
    <div class='title-format'><h3>Please Enter your details</h3></div>
    <form action="/merchant/personal_app_edit?_method=PUT" method="POST" 
        enctype="multipart/form-data">   
         <!-- PERSONAL -->
        <div class='form-group'>    
            <label>First Name</label>
            <input type='text' name='merchant[first_name]' value='<%=merchant.first_name%>' class='form-control' >
        </div>
        <div class='form-group'>    
            <label>Last Name</label>
            <input type='text' name='merchant[last_name]' value='<%=merchant.last_name%>' class='form-control' >
        </div>
        <div class='form-group'>
            <label>Email</label>
            <input type='email' name='merchant[email]' value='<%=merchant.email%>' class='form-control' required>
        </div>
        <div class='form-group'>
                <label>Phone Number</label>
                <input type='number' name='merchant[phone]' value='<%=merchant.phone%>' class='form-control'>
        </div>



        <!-- ID -->
        <div class='form-group'>
                <label for='merchant[doc_type]'>Document Type</label>
                <!-- TODO: Select saved value -->
                <select name='merchant[doc_type]' class='form-control'>
                    <% console.log("In pesonal app edit, merchants previous document was a: " + merchant.doc_type) %>
                    <% if(merchant.doc_type == 'Passport') { %>
                    <option selected value = 'Passport'>Passport</option>
                    <option value = 'ID'>Identification Document</option>
                    <% } else { %>
                        <option value = 'Passport'>Passport</option>
                        <option selected value = 'ID'>Identification Document</option> 
                    <% } %>
                }
                </select>
        </div>
        <div class='form-group'>
                <label>Document Number</label>
                <input type='number' name='merchant[doc_num]' value='<%=merchant.doc_num%>' class='form-control'>
        </div>
        <div class='form-group'>
                <label><strong>Doc Image</strong></label>
                <!-- TODO: show saved image -->
                <div class="card mw-25 p-1">
                        <a href='<%=merchant.doc_image%>'>
                                <img class="card-img-top" src="<%=merchant.doc_image%>">
                        </a>
                </div>
                <input type="file" name="doc_image" class = 'btn btn-info' accept="image/*, text/*, .pdf">
        </div>



        <!-- ADDRESS -->
        <div class='form-group'>
                <label>Address</label>
                <input type='text' name='merchant[address]' value='<%=merchant.address%>' class='form-control'>
        </div>
        <div class='form-group'>
                <label>Country</label>
                <input type='text' name='merchant[country]' value='<%=merchant.country%>' class='form-control'>
        </div>
        <div class='form-group'>
                <label>City</label>
                <input type='text' name='merchant[city]' value='<%=merchant.city%>' class='form-control'>
        </div>
        <div class='form-group'>
                <label>State</label>
                <input type='text' name='merchant[state]' value='<%=merchant.state%>' class='form-control'>
        </div>
        <div class='form-group'>
                <label>Postal Code</label>
                <input type='text' name='merchant[post_code]' value='<%=merchant.post_code%>' class='form-control'>
        </div>

        <h5>Please upload an utility bill up to 3 months old which confirms the address you have provided above.</h5>
        <div class='form-group'>
                <label><strong>Utility Image</strong></label>       
                <!-- TODO show saved image    -->
                <div class="card mw-25 p-1">
                        <a href='<%=merchant.util_image%>'>
                                <img class="card-img-top" src="<%=merchant.util_image%>">
                        </a>
                </div>
                <input type="file" name="util_image" class = 'btn btn-info'                     accept="image/*, text/*, .pdf">
        </div>

        <div class='form-group'>
                <input type='submit' value='Submit!' class='btn btn-warning'>
        </div>
    </form>
</div>

<% include ../partials/footer.ejs %>